.img-sprite{background: transparent url(sprite.png);}
i.img-sprite{display:inline-block;}
.img-sprite.img-32x32_000{height:32px;width:32px;background-position: -0px -0px;}
.img-sprite.img-32x32_fff{height:32px;width:32px;background-position: -0px -32px;}
.img-sprite.img-32x32_squares{height:32px;width:32px;background-position: -0px -64px;}
.img-sprite.img-32x32_t{height:32px;width:32px;background-position: -0px -96px;}
.img-sprite.img-16x16_000{height:16px;width:16px;background-position: -0px -128px;}
.img-sprite.img-16x16_fff{height:16px;width:16px;background-position: -16px -128px;}
.img-sprite.img-16x16_t{height:16px;width:16px;background-position: -0px -144px;}
